.videoParticularPlayer {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .videoParticularPlayer {
    object-fit: cover;
  }
}

.videoFrames {
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
